#title {
    padding: 35px;
    margin: 35px;
    color: antiquewhite;
}

#AC {
    background-color: turquoise;
    
}

#TD {
    background-color: rgb(226, 77, 77);
}

.top {
    padding: 35px;
    margin: 35px;
    text-align: center;
}

.img {
    border-radius: 6px;
    width: 400px;
}

body {
    background-color: black;
    border-radius: 6px;
}

.list {
    padding: 25px;
    margin: 20px;
    font-size: 18px;
    color: antiquewhite;
}