div {
    border-style: solid;
    border-color: blue;
    padding: 25pxs;
    background-color: aquamarine;
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

img {
    border-radius: 50px;
}

li {
    margin: 10px;
    font-style: italic;
}

